<div class="text-center pb-3">
  <code>Welcome to Patch Box</code>
</div>

<div class="d-flex justify-content-center">
  <pbx-game-board></pbx-game-board>
</div>

<br>

<div class="container text-danger text-center">
  Board spawning is in development!
  If your board is impossible to solve just refresh for a new one :)
</div>

<div class="container">
  <!-- <div class="text-center">
    <code>CONFIG &amp; GOODIES</code>
  </div>
  <div class="d-flex justify-content-center">
    <input type="number" placeholder="rows"/>
    <input type="number" placeholder="columns"/>
  </div> -->

  <div class="py-3"><!-- spacer --></div>

  <div class="text-center pb-3">
    <code>What is Patch Box?</code>
  </div>
  <div>
    Patch Box is a sandbox environment for the patching puzzle, to help you practice
    and improve your patching skills.
    <br><br>
    Basic functionality is under active development. Check back later!
  </div>

  <div class="py-3"><!-- spacer --></div>

  <div class="text-center pb-3">
    <code>Contributing</code>
  </div>
  <div>
    Patch Box is an open source project hosted on
    <a href="https://github.com/ColinT/patch-box" target="_blank">GitHub</a>,
    built in Angular 6+. Pull requests are welcome!
  </div>

</div>
